*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
body{
    background-image: url(hd1.jpeg);
    background-size: cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;

  
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 20px;
    text-decoration: none;
    color: white;
    animation: logo 2s ease forwards;
    opacity: 0; 
}
.nav-bar a{
    cursor: pointer;
    position: relative;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 0px 10px;
    transition: 3S;
    animation: navTop 2s ease forwards;
    opacity: 0; 
    animation-delay: calc(.3s * var(--i));

}
.nav-bar a::before{
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2%;
    background: white;
    transition: .3s;
}
.nav-bar a:hover::before{
    width: 100%;
}
.home{
    position: relative;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 250px 18%;
}
.home-content{
    max-width: 70%;
}
.home h1{
    color: white;
    font-size: 50px;
    line-height: 1.5;
    animation: strange 2s ease forwards;
    opacity: 0;
}
.home p{
    font-size: 20px;
    color: white;
    opacity: 0;
    animation: text 2s ease forwards;

}
.btn{
    background: rgb(206, 9, 9);
    padding: 10px 20px;
    width: 150px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: white;
    cursor: pointer;
    border: 2px solid #c2060638;
    transition: 2s;
    opacity: 0;
    animation: btn 2s ease forwards;


}
.btn:hover{
    background: white;
    color: rgb(109, 8, 8);
}
@keyframes text {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translatex(0);
        opacity: 1;
    }
}
@keyframes strange {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translatex(0);
        opacity: 1;
    }
}
@keyframes logo {
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes navTop {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes btn {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.white{
    max-height: 80%;
    position: relative;
    width: 100%;
    height: 700px;
    background-color: white;
    scroll-behavior: smooth;
}

.strangerimg img{
    position: relative;
    margin: 0;
    width: 30%;
    height: 600px;
    padding: 40px 30px;
    animation: image 1s ease forwards;
    opacity: 0;
    animation-delay: .2s;
}
.heads{
    position: relative;
    align-items: center;
    margin: 0;
    top: -570px;
    max-width: 100%;
    line-height: 25px;
    padding: 0px 10% 0% 40%;
}
.heads h2{
    line-height: 100px;
    text-align: center;
    font-weight: 500;
    font-weight: bold;
    animation: head2 1s ease forwards;
    opacity: 0;
}
.head1{
    animation: head1 1s ease forwards;
    opacity: 0;
}
.whine{
    max-height: 80%;
    position: relative;
    width: 100%;
    height: 700px;
    background-color: rgb(122, 6, 6);

}


@keyframes head2 {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes image {
    0%{
        transform: scale(1.1);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes head1 {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.white-inbox{
    position: absolute;
    background: white;
    width: 90%;
    height: 80%;
    margin: 100px 55px;
    animation: whiteinbox 1s ease forwards;
    opacity: 0;
    
}
@keyframes whiteinbox {
    0%{
        transform: scale(1.1);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.cast{
  float: left;
  width: 20.33%;
  margin: 25px;
  padding: 50px 0px;
  justify-content: center;
  display: flex;
  align-items: center;
  
}
.cast img{
    border-radius: 50%;
    animation: castanimation 1s ease forwards;
    opacity: 0;
    animation-delay: .5s;
}
.cast-name{
    font-size: 25px;
    text-align: center;
    color: rgb(122, 6, 6);

}
@keyframes castanimation{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
}
